.contact-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .contact-main {
        width: 100%;
        box-shadow: 0 2px 19px 3px rgba(0, 0, 0, 0.12);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 50px 0px;
        position: relative;
        max-width: 1050px;
        margin: 80px;
        transition: 1s all;
        .contact-detail {
            transition: 1s all;
            box-shadow: 0 2px 13px 8px rgba(0, 0, 0, 0.08);
            position: absolute;
            border-radius: 5px;
            left: -64px;
            padding: 40px 30px;
            max-width: 37%;
            width: 100%;
            background: #005daf;
            margin: 0px 20px 20px;
            .social-icon {
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    li {
                        list-style: none;
                        margin: 0px 20px;
                        img {
                            width: 23px;
                            height: 23px;
                        }
                    }
                }
            }
            .left-header {
                transition: 1s all;
                margin-bottom: 30px;
                color: #ffffff;
                margin-left: 20px;
            }
            .main-text {
                transition: 1s all;
                max-width: 400px;
                width: 100%;
                .single-detail {
                    max-width: calc(100% - 15px);
                    width: 100%;
                    margin: 40px 0px;
                    display: flex;
                    align-items: center;
                    // justify-content: center;
                    span {
                        color: #ffffffe3;
                        font-size: 15px;
                    }
                    img {
                        width: 23px;
                        height: 23px;
                        margin: 0px 15px;
                    }
                }
            }
        }
        .contact-form {
            transition: 1s all;
            max-width: 60%;
            /* margin: 50px; */
            border-radius: 3px;
            width: 100%;
            padding: 33px;
        }
        .form-content {
            transition: 1s all;
            box-shadow: 2px 3px 5px 1px rgba(60, 156, 204, 0.38);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 150px;
            width: 100%;
            height: 150px;
            position: relative;
            overflow: hidden;
            background: #31383e61;
            h2 {
                font-weight: 500;
                letter-spacing: 2px;
                padding: 45px;
                text-align: center;
                color: white;
                font-size: 50px;
            }
            .img {
                width: 100%;
                height: 150px;
                max-width: 598px;
                top: 0;
                position: absolute;
                z-index: -1;
                opacity: 0.6;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        form {
            transition: 1s all;
            padding: 50px 0px;
            width: 100%;
            .right-header {
                transition: 1s all;
                margin-bottom: 40px;
                color: #3c9ccc;
            }
            .contact-btn {
                transition: 1s all;
                display: flex;
                margin-top: 40px;
                margin-bottom: -30px;
                button {
                    transition: 0.3s all;
                    padding: 10px 30px;
                    background: #ffffff;
                    border-radius: 3px;
                    border: 1px solid #3c9ccc;
                    color: #3c9ccc;
                    margin: 0 auto;
                    &:hover {
                        background: #3c9ccc;
                        color: #ffffff;
                    }
                }
            }
            width: 100%;
            .input {
                width: 100%;
                margin-bottom: 20px;
            }
            label {
                color: #656560;
                width: 100%;
                margin-bottom: 5px;
                display: block;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-size: 16px;
                font-weight: 500;
            }
            input,
            select,
            textarea {
                width: 100%;
                padding: 15px;
                background: aliceblue;
                border: none;
                border-radius: 5px;
                &:focus {
                    // border: 1.5px solid black;
                }
            }
            select {
                height: 40px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-position: right 50%;
                background-size: 24px 24px;
                background-repeat: no-repeat;
                background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"><polygon points="3.862,7.931 0,4.069 7.725,4.069 "/></svg>');
            }
            textarea {
                height: 130px;
            }
            .single-input {
                width: 100%;
            }
            .two-input {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .input {
                    width: calc(50% - 10px);
                    @media screen and (max-width: 767px) {
                        width: 100%;
                    }
                }
                .input-with-icon {
                    position: relative;
                    input {
                        padding: 10px 10px 10px 30px;
                    }
                }
                .icon {
                    position: absolute;
                    height: 20px;
                    width: 20px;
                    top: 50%;
                    left: 5px;
                    svg {
                        vertical-align: middle;
                    }
                }
            }
            .three-input {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .input {
                    width: calc(33.33% - 14px);
                    @media screen and (max-width: 767px) {
                        width: 100%;
                    }
                }
                .input-with-icon {
                    position: relative;
                    input {
                        padding: 10px 10px 10px 30px;
                    }
                }
                .icon {
                    position: absolute;
                    height: 20px;
                    width: 20px;
                    top: 50%;
                    left: 5px;
                    svg {
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 989px) {
    .left {
        padding: 40px 10px !important;
    }
    .right-header,
    .left-header {
        h1 {
            font-size: 30px !important;
        }
    }
}

@media screen and (max-width: 767px) {
    .contact-form {
        padding: 33px 33px 0px 0px !important;
    }
    .contact-content .contact-main {
        flex-direction: column-reverse;
        padding: 15px !important;
        box-shadow: unset;
        margin: 30px !important;
    }
    .contact-content .contact-main .contact-detail {
        width: 100%;
        position: unset !important;
        max-width: 100% !important;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
    }
    .contact-content .contact-main .contact-form {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
        margin: 40px 0px !important;
        max-width: 100%;
        padding: 30px !important;
    }
    .contact-content .contact-main form {
        padding: 30px 0px;
    }
}