<div class="loading" *ngIf="this.loading == true">
    <app-loading></app-loading>
</div>
<div class="" *ngIf="this.loading == false">
    <div class="contact-content">

        <div class="contact-main">
            <div class="contact-detail left">
                <div class="left-header">
                    <h1>Contact Us</h1>
                </div>
                <div class="main-text">
                    <div class="single-detail">
                        <img style="width: 23px;height: 23px;" src="../../../assets/imgs/loaction.svg" alt="">
                        <span>1044 RD Mize, Lee's Summit, MO</span>
                    </div>
                    <div class="single-detail">
                        <img src="../../../assets/imgs/mobile.svg" alt="">
                        <span>(913) 475-8771</span>
                    </div>
                    <div class="single-detail">
                        <img src="../../../assets/imgs/email.svg" alt="">
                        <span>info@deepcleanerpro.com</span>
                    </div>
                </div>
                <div class="social-icon">
                    <ul>
                        <li>
                            <img src="../../../assets/imgs/insta.svg" alt="">
                        </li>
                        <li>
                            <img src="../../../assets/imgs/facebook.svg" alt="">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="contact-form right">
                <!-- <div class="form-content">
                <h2>Contact us</h2>
                <div class="img">
                    <img src="../../../assets/imgs/home/background-splash.jpg" alt="">
                </div>
            </div> -->
                <form action="">
                    <div class="right-header">
                        <h1>Get in touch</h1>
                        <span style="    color: #a1a9ad;">Feel Free to drop us a line below</span>
                    </div>
                    <div class="single-input">
                        <div class="input">
                            <input type="text" placeholder="Full Name">
                        </div>
                    </div>
                    <div class="single-input">
                        <div class="input">
                            <input type="text" placeholder="E-mail">
                        </div>
                    </div>
                    <div class="single-input">
                        <div class="input">
                            <textarea name="" id="" cols="30" rows="20" placeholder="Type your message"></textarea>
                        </div>
                    </div>
                    <div class="contact-btn">
                        <button>Send</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>