<div class="loading" *ngIf="this.loading == true">
    <app-loading></app-loading>
</div>

<!-- BOOKing FORM STEPS -->
<div class="book-main" *ngIf="this.loading == false">
    <!-- <div class="img" style="top: 122px;width: 100%;position: absolute;opacity: 0.2;padding:30px 0px 0px; display: flex;overflow: hidden;  align-items: center;justify-content: center;">
                <img src="../../../../../assets/imgs/banners/banner-1.jpg" style="width: 100%;height: 100%;object-fit: cover;" alt="">
            </div> -->
    <div class="book-header">
        <h1>Book Now</h1>
    </div>
    <div class="booking-form center">
        <mat-vertical-stepper linear #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Who you are</ng-template>
                    <div class="two-input">
                        <mat-form-field appearance="outline" color='$blue'>
                            <mat-label>First Name</mat-label>
                            <input matInput [formControl]="firstNameFormCtrl" [errorStateMatcher]="matcher"
                                placeholder="Ex. Dakota">
                            <mat-hint *ngIf='firstNameFormCtrl.valid'>
                                <mat-icon>verified_user
                                </mat-icon>
                                Looks Good!
                            </mat-hint>
                            <mat-error *ngIf="firstNameFormCtrl.hasError('required')">
                                First Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput [formControl]="lastNameFormCtrl" [errorStateMatcher]="matcher"
                                placeholder="Ex. Patel">
                            <mat-hint *ngIf='lastNameFormCtrl.valid'>
                                <mat-icon>verified_user
                                </mat-icon>
                                Looks Good!
                            </mat-hint>
                            <mat-error *ngIf="lastNameFormCtrl.hasError('required')">
                                Last Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="two-input">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                                placeholder="Ex. dakotapatel1@gmail.com">
                            <mat-hint *ngIf='emailFormControl.valid'>
                                <mat-icon>verified_user
                                </mat-icon>
                                Looks Good!
                            </mat-hint>
                            <mat-error
                                *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Phone</mat-label>
                            <input matInput [formControl]="phoneFormCtrl" [errorStateMatcher]="matcher"
                                placeholder="Ex. +9601450649">
                            <mat-hint *ngIf='phoneFormCtrl.valid'>
                                <mat-icon>verified_user
                                </mat-icon>
                                Looks Good!
                            </mat-hint>
                            <mat-error *ngIf="phoneFormCtrl.hasError('pattern') ">
                                Please enter a valid Phone No
                            </mat-error>
                            <mat-error *ngIf="phoneFormCtrl.hasError( 'required') ">
                                Phone No is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <!-- <mat-form-field appearance="outline">
                        <mat-label>Phone number</mat-label>
                        <example-tel-input required></example-tel-input>
                        <mat-icon matSuffix>phone</mat-icon>
                        <mat-hint>Include area code</mat-hint>
                      </mat-form-field> -->
                        <button class="next" mat-button (click)='firstFormSubmit(stepper)'>Next <mat-icon>
                                keyboard_arrow_right</mat-icon>
                        </button>

                    </div>
                    <div>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Your Home</ng-template>
                    <div class="two-input">
                        <mat-form-field class="larg-input" appearance="outline">
                            <mat-label>Address</mat-label>
                            <input matInput [formControl]="addressFormCtrl" [errorStateMatcher]="matcher"
                                placeholder="Ex. Address">
                            <mat-hint *ngIf="addressFormCtrl.valid">
                                <mat-icon>verified_user
                                </mat-icon>
                                Looks Good!
                            </mat-hint>
                            <mat-error *ngIf="addressFormCtrl.hasError('required')">
                                Address is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="tiny-input" appearance="outline">
                            <mat-label>Apt</mat-label>
                            <input matInput [formControl]="aptFormCtrl" [errorStateMatcher]="matcher"
                                placeholder="Ex. Apt">

                        </mat-form-field>
                    </div>
                    <div class="two-input">
                        <mat-form-field class="mid-input" appearance="outline">
                            <mat-label>City</mat-label>
                            <input matInput [formControl]="cityFormCtrl" [errorStateMatcher]="matcher"
                                placeholder="Ex. New York">
                            <mat-hint *ngIf="cityFormCtrl.valid">
                                <mat-icon>verified_user
                                </mat-icon>
                                Looks Good!
                            </mat-hint>
                            <mat-error *ngIf="cityFormCtrl.hasError('required')">
                                City is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="tiny-input" appearance="outline">
                            <mat-label>State</mat-label>
                            <mat-select matNativeControl [formControl]="stateFormCtrl">
                                <mat-option value="" mat-selected="mat-selected">State</mat-option>
                                <!-- <mat-option label="AK" value="AK">AK</mat-option>
                            <mat-option label="AL" value="AL">AL</mat-option>
                            <mat-option label="AR" value="string:AR">AR</mat-option>
                            <mat-option label="AZ" value="string:AZ">AZ</mat-option>
                            <mat-option label="CA" value="string:CA">CA</mat-option>
                            <mat-option label="CO" value="string:CO">CO</mat-option>
                            <mat-option label="CT" value="string:CT">CT</mat-option>
                            <mat-option label="DC" value="string:DC">DC</mat-option>
                            <mat-option label="DE" value="string:DE">DE</mat-option>
                            <mat-option label="FL" value="string:FL">FL</mat-option>
                            <mat-option label="GA" value="string:GA">GA</mat-option>
                            <mat-option label="HI" value="string:HI">HI</mat-option>
                            <mat-option label="IA" value="string:IA">IA</mat-option>
                            <mat-option label="ID" value="string:ID">ID</mat-option>
                            <mat-option label="IL" value="string:IL">IL</mat-option>
                            <mat-option label="IN" value="string:IN">IN</mat-option> -->
                                <mat-option label="KS" value="string:KS">KS</mat-option>
                                <!-- <mat-option label="KY" value="string:KY">KY</mat-option>
                            <mat-option label="LA" value="string:LA">LA</mat-option>
                            <mat-option label="MA" value="string:MA">MA</mat-option>
                            <mat-option label="MD" value="string:MD">MD</mat-option>
                            <mat-option label="ME" value="string:ME">ME</mat-option>
                            <mat-option label="MI" value="string:MI">MI</mat-option>
                            <mat-option label="MN" value="string:MN">MN</mat-option> -->
                                <mat-option label="MO" value="string:MO">MO</mat-option>
                                <!-- <mat-option label="MS" value="string:MS">MS</mat-option>
                            <mat-option label="MT" value="string:MT">MT</mat-option>
                            <mat-option label="NC" value="string:NC">NC</mat-option>
                            <mat-option label="ND" value="string:ND">ND</mat-option>
                            <mat-option label="NE" value="string:NE">NE</mat-option>
                            <mat-option label="NH" value="string:NH">NH</mat-option>
                            <mat-option label="NJ" value="string:NJ">NJ</mat-option>
                            <mat-option label="NM" value="string:NM">NM</mat-option>
                            <mat-option label="NV" value="string:NV">NV</mat-option>
                            <mat-option label="NY" value="string:NY">NY</mat-option>
                            <mat-option label="OH" value="string:OH">OH</mat-option>
                            <mat-option label="OK" value="string:OK">OK</mat-option>
                            <mat-option label="OR" value="string:OR">OR</mat-option>
                            <mat-option label="PA" value="string:PA">PA</mat-option>
                            <mat-option label="RI" value="string:RI">RI</mat-option>
                            <mat-option label="SC" value="string:SC">SC</mat-option>
                            <mat-option label="SD" value="string:SD">SD</mat-option>
                            <mat-option label="TN" value="string:TN">TN</mat-option>
                            <mat-option label="TX" value="string:TX">TX</mat-option>
                            <mat-option label="UT" value="string:UT">UT</mat-option>
                            <mat-option label="VA" value="string:VA">VA</mat-option>
                            <mat-option label="VT" value="string:VT">VT</mat-option>
                            <mat-option label="WA" value="string:WA">WA</mat-option>
                            <mat-option label="WI" value="string:WI">WI</mat-option>
                            <mat-option label="WV" value="string:WV">WV</mat-option>
                            <mat-option label="WY" value="string:WY">WY</mat-option> -->
                            </mat-select>
                            <mat-hint *ngIf='stateFormCtrl.valid'>
                                <mat-icon>verified_user
                                </mat-icon>
                                Looks Good!
                            </mat-hint>
                            <mat-error *ngIf="stateFormCtrl.hasError('required')">
                                State is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="tiny-input" appearance="outline">
                            <mat-label>Zip Code</mat-label>
                            <input matInput [formControl]="zipFormCtrl" [errorStateMatcher]="matcher"
                                placeholder="Ex. 364750">
                            <mat-hint *ngIf='zipFormCtrl.valid'>
                                <mat-icon>verified_user
                                </mat-icon>
                                Looks Good!
                            </mat-hint>
                            <mat-error *ngIf="zipFormCtrl.hasError('required')">
                                Zip Code is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-stroked-button class="back" matStepperPrevious>
                            <mat-icon>
                                keyboard_arrow_left</mat-icon>Back
                        </button>
                        <button class="next" mat-button (click)='secondFormSubmit(stepper)'>Next<mat-icon>
                                keyboard_arrow_right</mat-icon>
                        </button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup">
                <form [formGroup]="thirdFormGroup">
                    <ng-template matStepLabel>Choose your service</ng-template>
                    <div class="two-input">
                        <mat-divider></mat-divider>
                        <h4>Choose your service</h4>
                        <mat-form-field appearance="outline">
                            <mat-label>Service type</mat-label>
                            <mat-select matNativeControl [formControl]="serviceFormCtrl">
                                <mat-option *ngFor='let service of serviceOptions | async' [value]='service'>
                                    {{service.label}}</mat-option>
                            </mat-select>
                            <mat-hint>
                                <mat-icon>verified_user
                                </mat-icon>
                                Looks Good!
                            </mat-hint>
                            <mat-error *ngIf="serviceFormCtrl.hasError('required')">
                                Service type is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Service Size</mat-label>
                            <mat-select matNativeControl [formControl]="serviceSizeFormCtrl">
                                <mat-option value='500 - 900'>500 - 900 sq/ft</mat-option>
                                <mat-option value='999 - 1,499'>999 - 1499 sq/ft</mat-option>
                                <mat-option value='1,500 - 1,999'>1,500 - 1,999 sq/ft</mat-option>
                                <mat-option value='2,000 - 2,499'>2,000 - 2,499 sq/ft</mat-option>
                                <mat-option value='2,500 - 2,999'>2,500 - 2,999 sq/ft</mat-option>
                                <mat-option value='3,000 - 3,499'>3,000 - 3,499 sq/ft</mat-option>
                                <mat-option value='3,500 - 3,999'>3,000 - 3,499 sq/ft</mat-option>
                                <mat-option value='4,000 - 4,999'>4,000 - 4,999 sq/ft</mat-option>
                                <mat-option value='5,000 - 5,999'>5,000 - 5,999 sq/ft</mat-option>
                                <mat-option value='6,000 - 6,999'>6,000 - 6,999 sq/ft</mat-option>
                                <mat-option value='7,000 - 7,999'>7,000 - 7,999 sq/ft</mat-option>
                                <mat-option value='8,000 - 8,999'>8,000 - 8,999 sq/ft</mat-option>

                            </mat-select>
                            <mat-hint *ngIf='serviceSizeFormCtrl.valid'>
                                <mat-icon>verified_user
                                </mat-icon>
                                Looks Good!
                            </mat-hint>
                            <mat-error *ngIf="serviceSizeFormCtrl.hasError('required')">
                                Service type is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-divider></mat-divider>
                        <h4>When would you like us to clean your home?</h4>
                        <mat-form-field appearance="outline">
                            <mat-label>Choose a date</mat-label>
                            <input [formControl]="dateFormCtrl" matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Choose Availability Time</mat-label>
                            <mat-select matNativeControl [formControl]="accessTimeFormCtrl">
                                <mat-option value="8:00 AM - 9:00 AM" mat-selected="mat-selected">8:00 AM - 9:00 AM
                                </mat-option>
                                <mat-option label="" value='9:00 Am - 10:00 AM'>9:00 Am - 10:00 AM</mat-option>
                                <mat-option label="" value="11:00 Am - 12:00 PM">11:00 Am - 12:00 PM</mat-option>
                                <mat-option label="" value="12:00 PM - 1:00 PM">12:00 PM - 1:00 PM</mat-option>
                                <mat-option label="" value="1:00 PM - 2:00 PM">1:00 PM - 2:00 PM</mat-option>
                                <mat-option label="" value="2:00 PM - 3:00 PM">2:00 PM - 3:00 PM</mat-option>
                                <mat-option label="" value="3:00 PM - 4:00 PM">3:00 PM - 4:00 PM</mat-option>
                                <mat-option label="" value="5:00 PM - 6:00 PM">5:00 PM - 6:00 PM</mat-option>
                            </mat-select>
                            <mat-hint *ngIf='accessTimeFormCtrl.valid'>
                                <mat-icon>verified_user
                                </mat-icon>
                                Looks Good!
                            </mat-hint>
                            <mat-error *ngIf="serviceSizeFormCtrl.hasError('required')">
                                Service type is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-divider></mat-divider>
                        <h4>Extras</h4>
                        <mat-list>
                            <mat-list-item>
                                <mat-checkbox mat-line>Professional Organizer</mat-checkbox>
                                <div mat-line>name</div>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-checkbox mat-line>Upholstery</mat-checkbox>
                                <div mat-line>name</div>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-checkbox mat-line>Dryer Vent Cleaning</mat-checkbox>
                                <div mat-line>name</div>
                            </mat-list-item>
                        </mat-list>


                        <div class="two-input">
                            <mat-form-field class="textarea" appearance="outline">
                                <mat-label>Special Instruction </mat-label>
                                <textarea [formControl]="instructionFormCtrl" name="" matInput id="" cols="30"
                                    rows="5"></textarea>
                            </mat-form-field>
                        </div>
                    </div>

                    <div>
                        <button mat-stroked-button class="back" matStepperPrevious>
                            <mat-icon>
                                keyboard_arrow_left</mat-icon>Back
                        </button>
                        <button class="next" mat-button (click)='thirdFormSubmit(stepper)'>Get Quote <mat-icon>
                                keyboard_arrow_right</mat-icon>
                        </button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="fourthFormGroup">
                <form [formGroup]="fourthFormGroup">
                    <ng-template matStepLabel>View Quote</ng-template>
                    <mat-card class="booking-summary-card">
                        <img class="booking-summary-image" mat-card-image src="../../../../../assets/imgs/Logo.png"
                            alt="Deep Cleaner Pro Logo">
                        <mat-card-content>
                            <mat-divider></mat-divider>
                            <mat-list>
                                <div mat-subheader>Booking Summary</div>
                                <mat-list-item>
                                    <mat-icon mat-list-icon>home</mat-icon>
                                    <div mat-line><strong>Service Type</strong></div>
                                    <div mat-line>{{serviceFormCtrl.value.label}}
                                    </div>
                                    <div mat-line> {{serviceSizeFormCtrl.value}} sq/ft
                                    </div>
                                </mat-list-item>
                                <mat-list-item>
                                    <mat-icon mat-list-icon>event_available </mat-icon>
                                    <div mat-line><strong>Booking Date</strong></div>
                                    <div mat-line> {{ dateFormCtrl.value | date}}</div>
                                    <div mat-line> {{accessTimeFormCtrl.value}}</div>
                                </mat-list-item>
                                <mat-list-item>
                                    <mat-icon mat-list-icon>loop</mat-icon>
                                    <div mat-line><strong>Recurring</strong></div>
                                    <div mat-line>NO</div>
                                </mat-list-item>
                                <mat-list-item>
                                    <h4 class="total">{{quote | currency}}</h4>
                                    <div mat-line>
                                        <h4>Total:</h4>
                                    </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>

                            </mat-list>
                            <mat-divider></mat-divider>
                        </mat-card-content>

                        <div class="quoteActions">
                            <button class="back" mat-stroked-button matStepperPrevious>Back</button>
                            <button class="next" mat-button (click)='fourthFormSubmit(stepper)'>ACCEPT</button>
                        </div>
                    </mat-card>
                    <div class="two-input">
                        <mat-form-field class="tiny-input" appearance="outline">
                            <mat-label>Discount Code</mat-label>
                            <input matInput [formControl]="discountFormCtrl" [errorStateMatcher]="matcher"
                                placeholder="Ex. Discount Code">
                            <mat-hint *ngIf="discountFormCtrl.touched">
                                <mat-icon>verified_user
                                </mat-icon>
                                25% March Discount Ad OFF!!
                            </mat-hint>
                            <mat-error
                                *ngIf="discountFormCtrl.hasError('email') && !discountFormCtrl.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                        </mat-form-field>
                        <button class="apply" mat-button>APPLY</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="fifthFormGroup">
                <form [formGroup]="fifthFormGroup">
                    <ng-template matStepLabel>Select Payment</ng-template>
                    <div class="two-input">
                        <mat-form-field appearance="outline">
                            <mat-label>Card No</mat-label>
                            <input matInput [formControl]="cardNoFormCtrl" [errorStateMatcher]="matcher"
                                placeholder="Ex. 2020 3234 4422 4422">
                            <mat-hint *ngIf="cardNoFormCtrl.valid">
                                <mat-icon>verified_user
                                </mat-icon>
                                Looks Good!
                            </mat-hint>
                            <mat-error *ngIf="cardNoFormCtrl.hasError('email') && !cardNoFormCtrl.hasError('required')">
                                Please enter a valid Card Number
                            </mat-error>
                            <mat-error *ngIf="cardNoFormCtrl.hasError('required')">
                                Card No<strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="tiny-input" appearance="outline">
                            <mat-label>Expiry Date</mat-label>
                            <input matInput [formControl]="cardDateFormCtrl" [errorStateMatcher]="matcher"
                                placeholder="Ex. 03/12">
                            <mat-hint *ngIf="cardDateFormCtrl.valid">
                                <mat-icon>verified_user
                                </mat-icon>
                                Looks Good!
                            </mat-hint>
                            <mat-error
                                *ngIf="cardDateFormCtrl.hasError('email') && !cardDateFormCtrl.hasError('required')">
                                Please enter a valid Date
                            </mat-error>
                            <mat-error *ngIf="cardDateFormCtrl.hasError('required')">
                                Expiry Date is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="two-input">
                        <mat-form-field class="tiny-input" appearance="outline">
                            <mat-label>CVV</mat-label>
                            <input matInput [formControl]="cvvFormCtrl" [errorStateMatcher]="matcher"
                                placeholder="Ex. 012">
                            <mat-hint *ngIf="cvvFormCtrl.valid">
                                <mat-icon>verified_user
                                </mat-icon>
                                Looks Good!
                            </mat-hint>
                            <mat-error *ngIf="cvvFormCtrl.hasError('email') && !cvvFormCtrl.hasError('required')">
                                Please enter a valid CVV
                            </mat-error>
                            <mat-error *ngIf="cvvFormCtrl.hasError('required')">
                                CVV is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <button (click)='paymentSubmit()' class="apply" mat-button>BOOK NOW</button>
                    </div>
                    <div>
                    </div>
                </form>
            </mat-step>
        </mat-vertical-stepper>
    </div>
</div>